<mat-dialog-content>

  @if(loading) {
  <div matRipple class="me-auto me-sm-0 mb-sm-0 mb-2 loading">
    <mat-spinner></mat-spinner>
  </div>
  }

  <div class="d-flex align-items-center justify-content-between">
    <span class="fw-bold fs-5">{{ title }}</span>
    <div matRipple class="close" (click)="onCancel()">
      <i class="fa-solid fa-close"></i>
    </div>
  </div>

  <mat-divider class="my-3"></mat-divider>

  <form [formGroup]="form" class="row">

    <div class="col-md-6 mb-3">
      <span class="fw-bolder">Tipo *</span>
      <mat-form-field appearance="outline">
        <input type="text" formControlName="type" matInput placeholder="Insira o Tipo" />
      </mat-form-field>
    </div>

    <div class="col-md-6 mb-3">
      <span class="fw-bolder">ID do Pedido *</span>
      <mat-form-field appearance="outline">
        <input type="text" formControlName="order_id" matInput placeholder="Insira o ID do Pedido" />
      </mat-form-field>
    </div>

    <div class="col-md-6 mb-3">
      <span class="fw-bolder">ID de Referência *</span>
      <mat-form-field appearance="outline">
        <input type="text" formControlName="reference_id" matInput placeholder="Insira o ID de Referência" />
      </mat-form-field>
    </div>

    <div class="col-md-6 mb-3">
      <span class="fw-bolder">ID de Sequência</span>
      <mat-form-field appearance="outline">
        <input type="text" formControlName="sequence_id" matInput placeholder="Insira o ID de Sequência" />
      </mat-form-field>
    </div>

    <div class="col-md-6 mb-3">
      <span class="fw-bolder">ID do Integrador</span>
      <mat-form-field appearance="outline">
        <input type="text" formControlName="integrator_id" matInput placeholder="Insira o ID do Integrador" />
      </mat-form-field>
    </div>

    <div class="col-md-6 mb-3">
      <span class="fw-bolder">ID do Frete</span>
      <mat-form-field appearance="outline">
        <input type="text" formControlName="shipping_id" matInput placeholder="Insira o ID do Frete" />
      </mat-form-field>
    </div>

    <div class="col-md-6 mb-3">
      <span class="fw-bolder">Marketplace</span>
      <mat-form-field appearance="outline">
        <input type="text" formControlName="marketplace" matInput placeholder="Insira o Marketplace" />
      </mat-form-field>
    </div>

    <div class="col-md-6 mb-3">
      <span class="fw-bolder">Conta</span>
      <mat-form-field appearance="outline">
        <input type="text" formControlName="account" matInput placeholder="Insira a Conta" />
      </mat-form-field>
    </div>

    <div class="col-md-6 mb-3">
      <span class="fw-bolder">Número da Nota Fiscal</span>
      <mat-form-field appearance="outline">
        <input type="text" formControlName="invoice_number" matInput placeholder="Insira o Número da Nota Fiscal" />
      </mat-form-field>
    </div>

    <div class="col-md-6 mb-3">
      <span class="fw-bolder">Série da Nota Fiscal</span>
      <mat-form-field appearance="outline">
        <input type="text" formControlName="invoice_series" matInput placeholder="Insira a Série da Nota Fiscal" />
      </mat-form-field>
    </div>

    <div class="col-md-6 mb-3">
      <span class="fw-bolder">Data do Pedido *</span>
      <mat-form-field appearance="outline">
        <input matInput [matDatepicker]="orderDatePicker" formControlName="order_date" placeholder="DD/MM/YYYY" readonly>
        <mat-datepicker-toggle matIconSuffix [for]="orderDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #orderDatePicker></mat-datepicker>
      </mat-form-field>
    </div>

    <div class="col-md-6 mb-3">
      <span class="fw-bolder">Data de Liberação</span>
      <mat-form-field appearance="outline">
        <input matInput [matDatepicker]="releaseDatePicker" formControlName="release_date" placeholder="DD/MM/YYYY" readonly>
        <mat-datepicker-toggle matIconSuffix [for]="releaseDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #releaseDatePicker></mat-datepicker>
      </mat-form-field>
    </div>

    <div class="col-md-6 mb-3">
      <span class="fw-bolder">Valor da Venda *</span>
      <mat-form-field appearance="outline">
        <input type="number" formControlName="sale_value" matInput placeholder="Insira o Valor da Venda" />
      </mat-form-field>
    </div>

    <div class="col-md-6 mb-3">
      <span class="fw-bolder">Reembolso da Venda</span>
      <mat-form-field appearance="outline">
        <input type="number" formControlName="refund_sale" matInput placeholder="Insira o Reembolso da Venda" />
      </mat-form-field>
    </div>

    <div class="col-md-6 mb-3">
      <span class="fw-bolder">Comissão</span>
      <mat-form-field appearance="outline">
        <input type="number" formControlName="commission" matInput placeholder="Insira a Comissão" />
      </mat-form-field>
    </div>

    <div class="col-md-6 mb-3">
      <span class="fw-bolder">Reembolso da Comissão</span>
      <mat-form-field appearance="outline">
        <input type="number" formControlName="refund_commission" matInput
          placeholder="Insira o Reembolso da Comissão" />
      </mat-form-field>
    </div>

    <div class="col-md-6 mb-3">
      <span class="fw-bolder">Taxa de Envio</span>
      <mat-form-field appearance="outline">
        <input type="number" formControlName="shipping_fee" matInput placeholder="Insira a Taxa de Envio" />
      </mat-form-field>
    </div>

    <div class="col-md-6 mb-3">
      <span class="fw-bolder">Reembolso da Taxa de Envio</span>
      <mat-form-field appearance="outline">
        <input type="number" formControlName="refund_shipping_fee" matInput
          placeholder="Insira o Reembolso da Taxa de Envio" />
      </mat-form-field>
    </div>

    <div class="col-md-6 mb-3">
      <span class="fw-bolder">Campanhas</span>
      <mat-form-field appearance="outline">
        <input type="number" formControlName="campaigns" matInput placeholder="Insira o Valor das Campanhas" />
      </mat-form-field>
    </div>

    <div class="col-md-6 mb-3">
      <span class="fw-bolder">Reembolso de Campanhas</span>
      <mat-form-field appearance="outline">
        <input type="number" formControlName="refund_campaigns" matInput
          placeholder="Insira o Reembolso de Campanhas" />
      </mat-form-field>
    </div>

    <div class="col-md-6 mb-3">
      <span class="fw-bolder">Impostos</span>
      <mat-form-field appearance="outline">
        <input type="number" formControlName="taxes" matInput placeholder="Insira o Valor dos Impostos" />
      </mat-form-field>
    </div>

    <div class="col-md-6 mb-3">
      <span class="fw-bolder">Reembolso de Impostos</span>
      <mat-form-field appearance="outline">
        <input type="number" formControlName="refund_taxes" matInput placeholder="Insira o Reembolso de Impostos" />
      </mat-form-field>
    </div>

    <div class="col-md-6 mb-3">
      <span class="fw-bolder">Outros Créditos</span>
      <mat-form-field appearance="outline">
        <input type="number" formControlName="other_credits" matInput placeholder="Insira Outros Créditos" />
      </mat-form-field>
    </div>

    <div class="col-md-6 mb-3">
      <span class="fw-bolder">Outros Débitos</span>
      <mat-form-field appearance="outline">
        <input type="number" formControlName="other_debits" matInput placeholder="Insira Outros Débitos" />
      </mat-form-field>
    </div>

    <div class="col-md-6 mb-3">
      <span class="fw-bolder">Resultado Líquido</span>
      <mat-form-field appearance="outline">
        <input type="number" formControlName="net_result" matInput placeholder="Insira o Resultado Líquido" />
      </mat-form-field>
    </div>

    <div class="col-md-6 mb-3">
      <span class="fw-bolder">Data de Sincronização</span>
      <mat-form-field appearance="outline">
        <input matInput [matDatepicker]="syncDatePicker" formControlName="sync_date" placeholder="DD/MM/YYYY" readonly>
        <mat-datepicker-toggle matIconSuffix [for]="syncDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #syncDatePicker></mat-datepicker>
      </mat-form-field>
    </div>

    <div class="col-md-6 mb-3">
      <span class="fw-bolder">ID do Usuário *</span>
      <mat-form-field>
        <mat-select formControlName="user_id" placeholder="ID do Usuário">
          <mat-option>
            <ngx-mat-select-search [formControl]="userFilterCtrl" placeholderLabel="Procure pelo usuário"
              i18n-placeholderLabel noEntriesFoundLabel="Usuário não encontrado" i18n-noEntriesFoundLabel>
            </ngx-mat-select-search>
          </mat-option>
          <mat-option *ngFor="let user of filteredUsers | async" [value]="user.id">
            {{ user.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

  </form>

</mat-dialog-content>
<mat-dialog-actions>
  <div class="w-100 me-2">
    <div id="actionsDialog" class="flex-sm-row flex-column">
      <div id="buttonsDialog" class="flex-sm-row flex-column">
        <div class="col-auto">
          <button matRipple id="cancel" class="button cancel" (click)="onCancel()">Cancelar</button>
        </div>
        <div class="col-auto">
          <button matRipple id="submit" class="button yellow" (click)="!loading ? onConfirm() : null">{{
            isNewOrder ? 'Criar' : 'Salvar'
            }}</button>
        </div>
      </div>
    </div>
  </div>
</mat-dialog-actions>
